.dsmovie-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding: 0.875em 0em;
}

.dsmovie-nav__title {
    margin: 0;
    font-weight: 700;
    font-size: var(--fs-xlg);
}