.dsmovie-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmovie-score__value {
    margin: 0;
    color: #FFBB3A;
    font-size: var(--fs-lg);
    font-weight: 700;
}

.dsmovie-score__count {
    font-size: var(--fs-sm);
    color: #989898;
    margin: 4px 0 10px 0;
}