@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Resets */
html {
  box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

/* Variables */
:root {
  /* Font size */
  --fs-sm: 0.75rem; /* 12px */
  --fs-base: 0.875rem; /* 14px */
  --fs-lg: 1rem; /* 16px */
  --fs-xlg: 1.5rem; /* 24px */


  /* Colors */
  --color-primary: #4D41C0;
  --color-bkg: #E8E8E8;
}

/* Defaults */
html, body {
  background-color: var(--color-bkg);
}

*, *::after, *::before {
  font-family: 'Open Sans', sans-serif;
}



