@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Resets */
html {
  box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

/* Variables */
:root {
  /* Font size */
  --fs-sm: 0.75rem; /* 12px */
  --fs-base: 0.875rem; /* 14px */
  --fs-lg: 1rem; /* 16px */
  --fs-xlg: 1.5rem; /* 24px */


  /* Colors */
  --color-black-0: #161616;
  --color-black-10: #1C1C1C;
  --color-black-20: #434343;
  --color-black-30: #939393;
  --color-black-40: #989898;
  --color-white: #fff;
  --color-black: #000;
  --color-gold: #FFBB3A;
}

/* Defaults */
html, body {
  background-color: var(--color-black-10);
}

*, *::after, *::before {
  font-family: 'Open Sans', sans-serif;
}



