.dsmovie-pagination {
    padding: 1.06em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dsmovie-pagination__box {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dsmovie-pagination__btn {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--color-black-20);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.dsmovie-pagination__btn:disabled {
    filter: opacity(.4);
    cursor: unset;
}

.dsmovie-pagination__pages-text {
    margin: 0;
    font-size: var(--fs-sm);
    color: var(--color-white);
}

.dsmovie-flip-horizontal {
    transform: rotate(180deg);
}