.dsmovie-pagination {
    padding: 1.06em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dsmovie-pagination__box {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dsmovie-pagination__btn {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-primary);
    cursor: pointer;
}

.dsmovie-pagination__btn svg {
    filter: brightness(0) saturate(100%) invert(26%) sepia(19%) saturate(7395%) hue-rotate(234deg) brightness(89%) contrast(92%);
}

.dsmovie-pagination__btn:disabled {
    border: 1px solid var(--color-gray-400);
    cursor: unset;
}

.dsmovie-pagination__btn:disabled svg {
    filter: none;
}

.dsmovie-pagination__pages-text {
    margin: 0;
    font-size: var(--fs-sm);
    color: var(--color-primary);
}

.dsmovie-flip-horizontal {
    transform: rotate(180deg);
}